<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/common.css" />
    <style>
        form { width: 600px; margin: auto; padding: 5px 20px; box-shadow: 2px 2px 5px gray; }
        div.table { display: table; }
        div.row { display: table-row; }
        div.cell { display: table-cell; padding: 5px; }
        div.cell:nth-child(1) { width: 100; text-align: right; vertical-align: top; }
        div.buttons { margin: 1em; }
    </style>
</head>
<body>
<div class="container">
    <form method="post" th:object="${bookEdit}">
        <h1 th:text="${bookEdit.id > 0 ? '도서 수정' : '도서 등록'}"></h1>
        <div class="table">
            <div class="row">
                <div class="cell">제목:</div>
                <div class="cell">
                    <input type="text" th:field="*{title}" />
                    <div class="error" th:errors="*{title}"></div>
                </div>
            </div>
            <div class="row">
                <div class="cell">저자:</div>
                <div class="cell">
                    <input type="text" th:field="*{author}" />
                    <div class="error" th:errors="*{author}"></div>
                </div>
            </div>
            <div class="row">
                <div class="cell">카테고리:</div>
                <div class="cell">
                    <select th:field="*{categoryId}">
                        <option value="0">카테고리를 선택하세요</option>
                        <option th:each="ct : ${ categories }"
                                th:value="${ ct.id }" th:text="${ ct.name }">
                        </option>
                    </select>
                    <div class="error" th:errors="*{categoryId}"></div>
                </div>
            </div>
            <div class="row">
                <div class="cell">가격:</div>
                <div class="cell">
                    <input type="text" th:field="*{price}" />
                    <div class="error" th:errors="*{price}"></div>
                </div>
            </div>
            <div class="row">
                <div class="cell">출판사:</div>
                <div class="cell">
                    <input type="text" th:field="*{publisher}" />
                    <div class="error" th:errors="*{publisher}"></div>
                </div>
            </div>
        </div>
        <hr />
        <div class="buttons">
            <button type="submit" class="btn blue"
                    name="cmd" value="save">저장</button>
            <button type="submit" class="btn red"
                    th:if="${ bookEdit.id > 0 }"
                    onclick="return confirm('삭제하시겠습니까?')"
                    name="cmd" value="delete">삭제</button>
            <a th:href="${ 'list?' + pagination.queryString }" class="btn">목록으로</a>
        </div>
        <div class="error" th:errors="${bookEdit}"></div>
    </form>
</div>
</body>
</html>

