<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/common.css" />
    <script type="text/javascript" src="/common.js"></script>
    <style>
        form { margin-bottom: 4px; }
        a.btn:last-child { margin-left: 20px; }
    </style>
</head>
<body onload="pagination()">
<div class="container">
    <h1>도서목록</h1>
    <form method="get" th:object="${pagination}">
        <input type="hidden" name="pg" value="1" />
        <select th:field="*{od}">
            <option th:each="order : ${ orders }"
                    th:value="${ order.value }" th:text="${ order.label }"></option>
        </select>
        <input type="text" th:field="*{st}" placeholder="검색" />
        <button type="submit" class="btn">검색</button>
        <a href="list" class="btn">취소</a>
        <a th:href="${ 'create?' + pagination.queryString }" class="btn blue">도서목록</a>
    </form>
    <table class="list">
        <thead>
        <tr>
            <th>id</th>
            <th>제목</th>
            <th>저자</th>
            <th>카테고리</th>
            <th>가격</th>
            <th>출판사</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bk : ${ books }"
            th:href="${ 'edit?id=' + bk.id + '&' + pagination.queryString }"
            onclick="onClickHref(event)">
            <td th:text="${ bk.id }"></td>
            <td th:text="${ bk.title }"></td>
            <td th:text="${ bk.author }"></td>
            <td th:text="${ bk.category.name }"></td>
            <td th:text="${ bk.price }"></td>
            <td th:text="${ bk.publisher }"></td>
        </tr>
        </tbody>
    </table>
    <div class="pagination" th:data-record-count="${pagination.recordCount}"
         th:data-page-size="${pagination.sz}" th:data-current-page="${pagination.pg}"></div>
</div>
</body>
</html>

